* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: rgb(170, 220, 217);
    background-image: url("backgroundSky.gif");
  
  
  
    
  }

  .container {
    background-color: #ffffff;
    width: 1600px;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.15em 1.8em rgba(8, 21, 65, 0.25);
  }
  .search-wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 1.25em;
  }

  button {
    margin-top: 1em;
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: #311ac5;
    color: #ffffff;
    padding: 0.45em 1em;
    border: none;
    border-radius: 1.5em;
  }

  .clear button {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    background-color: #311ac5;
    color: #ffffff;
    padding: 12px 35px;
    border: none;
    border-radius: 1.5em;
  }
  
  .search-wrapper input {
    background-color:rgb(246, 244, 244);
    font-size: 1em;
    padding: 0.30em 0.62em;
    border: none;
    border-radius: 2em 2em;
    border: 2px solid rgb(215, 215, 215);
    outline: none;
    color: #222a43;
  }
  #result {
    margin-top: 1.25em;
  }
  .container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
  }
  .container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  .container span {
    color: #5d6274;
  }
  .container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }

  